* {
font-size: 100%;
box-sizing: border-box;
-moz-box-sizing: border-box;
background: #8F87BF; 
}

h1{
font-family: 'Oswald', sans-serif;
font-size: 70px;
color: #FFEF7A;
text-align: center;
margin: 0;
}

h2{
font-family: 'Poiret One', cursive;
color: #EFDCD4;
font-size: 45px;
text-align: center;
margin: 0;
}




