* {
background: url(background.jpg);
font-size: 100%;
box-sizing: border-box;
-moz-box-sizing: border-box;
}

h1 {
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size: 100px;
margin: 25px;
text-align: center;
background: black;
color: #AA0D11;

}

h2 {
font-family: 'Dynalight', cursive;
font-size: 50px;
margin: auto;
text-align: center;
color: white;
background: black;
margin: 15px;

}

table {
align: center;
}

#cell11, #cell12, #cell21, #cell22 {
width: 130px;
height: 130px;
border-style: none solid solid none;
border-width: 10px;
border-color: black;


}

#cell13, #cell23 {
width: 130px;
height: 130px;
border-style: none none solid none; 
border-width: 10px;
border-color: black;

}

#cell31, #cell32 {
width: 130px;
height: 130px;
border-style: none solid none none;
border-width: 10px;
border-color: black;
}